@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Droid Serif'; }
h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}
.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}

/* Header and slide no. need to be white to be visible over DU violet
   background. */
h1 {
    color: white;
    position: relative;
    z-index: 10;
}

.remark-slide-number {
    color: white;
    opacity: 1.0;
}

/* Fix the header and footer bars in position and colour them DU
   violet*/
div.header {
    background-color: rgb(104,36,109);
    position: fixed;
    top: 0px;
    left: 0px;
    height: 120px;
    width: 100%;
    text-align: left;
}
div.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    background-color: rgb(104,36,109);
    color: white;
    text-align: left;
}

/* Place the DU and ARC logos */
div.header img {
    height: 50px;
    top: 5px;
    right: 5px;
    position: fixed;
}
div.footer img {
    height: 40px;
    top: 0px;
    left: 0px;
    position: relative;
    float: left;
}

div.footer p {
    position: relative;
    left: 20px;
    bottom: 8px;
    font-size: smaller;
}

/* Make title box DU violet */
div.titlebox {
    background-color: rgb(104,36,109);
    color: white;
}

/* Fix footnotes box to just above foot box */
div.footnotes {
    position: fixed;
    bottom: 40px;
    font-size: smaller;
}

/* Enable two column layout */
.columns {
    display: flex;
}
.col {
    width: 50%;
    padding: 0 1%;
    box-sizing: border-box;
}

/* Enable centering images regardless of their size */
.image-container {
    display: flex;
    justify-content: center;
    overflow: hidden; /* Ensures that any part of the image that overflows the container does not show */
    position: relative; /* Position relative to enable absolute positioning of the child (img) */
    width: 100vw; /* or any other height or width depending on your layout */
}
.image-container img {
    position: absolute;
    left: 50%; /* Moves the left edge of the image to the center of the container */
    transform: translateX(-50%); /* Shifts the image back to the left by half its own width */
    max-width: none; /* Overrides any max-width that might restrict the image size */
}

@page {
    size: 908px 681px;
    margin: 0;
}

@media print {
    .remark-slide-scaler {
	width: 100% !important;
	height: 100% !important;
	transform: scale(1) !important;
	top: 0 !important;
	left: 0 !important;
    }
}
